TURNKEY_API_PRIVATE_KEY='YOUR_API_PRIVATE_KEY'
TURNKEY_ORGANIZATION_ID='YOUR_ORGANIZATION_ID'
TURNKEY_DELEGATED_USER_EMAIL='YOUR_DELEGATED_USER_EMAIL'
TURNKEY_END_USER_EMAIL='YOUR_END_USER_EMAIL'
TURNKEY_RECIPIENT_ADDRESS='YOUR_ETH_RECIPIENT_ADDRESS'
