TURNKEY_API_PRIVATE_KEY='YOUR_API_PRIVATE_KEY'
TURNKEY_ORGANIZATION_ID='YOUR_ORGANIZATION_ID'
# Set exactly one of the following.
# Hex-encoded Secp256k1 (Ethereum) private key:
TURNKEY_ETHEREUM_PRIVATE_KEY='YOUR_HEX_ENCODED_PRIVATE_KEY'
# Base58-encoded Ed25519 (Solana) private key:
# TURNKEY_SOLANA_PRIVATE_KEY='YOUR_BASE58_ENCODED_PRIVATE_KEY'
