{
  "swagger": "2.0",
  "info": {
    "title": "API Reference",
    "description": "Review our [API Introduction](../api-introduction) to get started.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Organizations",
      "description": "An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.\n\nSee [Root Quorum](../managing-users/root-quorum) for more information"
    },
    {
      "name": "Invitations",
      "description": "Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.\n\nSee [Users](./api#tag/Users) for more information"
    },
    {
      "name": "Policies",
      "description": "Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.\n\nSee [Policy Overview](../managing-policies/overview) for more information"
    },
    {
      "name": "Wallets",
      "description": "Wallets contain collections of deterministically generated cryptographic public / private key pairs that share a common seed. Turnkey securely holds the common seed, but only you can access it. In most cases, Wallets should be preferred over Private Keys since they can be represented by a mnemonic phrase, used across a variety of cryptographic curves, and can derive many addresses.\n\nDerived addresses can be used to create digital signatures using the corresponding underlying private key. See [Signers](./api#tag/Signers) for more information"
    },
    {
      "name": "Signers",
      "description": "Signers allow you to create digitial signatures. Signatures are used to validate the authenticity and integrity of a digital message. Turnkey makes it easy to produce signatures by allowing you to sign with an address. If Turnkey doesn't yet support an address format you need, you can generate and sign with the public key instead by using the address format `ADDRESS_FORMAT_COMPRESSED`."
    },
    {
      "name": "Private Keys",
      "description": "Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Turnkey securely holds all private key materials for you, but only you can access them.\n\nThe Private Key ID or any derived address can be used to create digital signatures. See [Signers](./api#tag/Signers) for more information"
    },
    {
      "name": "Private Key Tags",
      "description": "Private Key Tags allow you to easily group and permission Private Keys through Policies."
    },
    {
      "name": "Users",
      "description": "Users are responsible for any action taken within an Organization. They can have ApiKey or Auuthenticator credentials, allowing you to onboard teammates to the Organization, or create API-only Users to run as part of your infrastructure."
    },
    {
      "name": "User Tags",
      "description": "User Key Tags allow you to easily group and permission Users through Policies."
    },
    {
      "name": "Authenticators",
      "description": "Authenticators are WebAuthN hardware devices, such as a Macbook TouchID or Yubikey, that can be used to authenticate requests."
    },
    {
      "name": "API Keys",
      "description": "API Keys are used to authenticate requests\n\nSee our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys"
    },
    {
      "name": "Activities",
      "description": "Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.\n\nActivities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed"
    },
    {
      "name": "Consensus",
      "description": "Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.\n\nActivities that have been proposed, but don't yet meet the Consesnsus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created."
    }
  ],
  "host": "api.turnkey.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/public/v1/query/get_activity": {
      "post": {
        "summary": "Get Activity",
        "description": "Get details about an Activity",
        "operationId": "GetActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetActivityRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/get_authenticator": {
      "post": {
        "summary": "Get Authenticator",
        "description": "Get details about an authenticator",
        "operationId": "GetAuthenticator",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_authenticators": {
      "post": {
        "summary": "Get Authenticators",
        "description": "Get details about authenticators for a user",
        "operationId": "GetAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_policy": {
      "post": {
        "summary": "Get Policy",
        "description": "Get details about a Policy",
        "operationId": "GetPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPolicyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/get_private_key": {
      "post": {
        "summary": "Get Private Key",
        "description": "Get details about a Private Key",
        "operationId": "GetPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateKeyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/get_user": {
      "post": {
        "summary": "Get User",
        "description": "Get details about a User",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetUserResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUserRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/get_wallet": {
      "post": {
        "summary": "Get Wallet",
        "description": "Get details about a Wallet",
        "operationId": "GetWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_activities": {
      "post": {
        "summary": "List Activities",
        "description": "List all Activities within an Organization",
        "operationId": "GetActivities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetActivitiesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetActivitiesRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/list_policies": {
      "post": {
        "summary": "List Policies",
        "description": "List all Policies within an Organization",
        "operationId": "GetPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPoliciesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/list_private_keys": {
      "post": {
        "summary": "List Private Keys",
        "description": "List all Private Keys within an Organization",
        "operationId": "GetPrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateKeysResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/list_users": {
      "post": {
        "summary": "List Users",
        "description": "List all Users within an Organization",
        "operationId": "GetUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetUsersResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/list_wallet_accounts": {
      "post": {
        "summary": "List Wallets Accounts",
        "description": "List all Accounts wirhin a Wallet",
        "operationId": "GetWalletAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletAccountsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletAccountsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/list_wallets": {
      "post": {
        "summary": "List Wallets",
        "description": "List all Wallets within an Organization",
        "operationId": "GetWallets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWalletsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWalletsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/query/whoami": {
      "post": {
        "summary": "Who am I?",
        "description": "Get basic information about your current API or WebAuthN user and their organization. Affords Sub-Organization look ups via Parent Organization for WebAuthN users.",
        "operationId": "GetWhoami",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetWhoamiResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWhoamiRequest"
            }
          }
        ],
        "tags": ["Sessions"]
      }
    },
    "/public/v1/submit/approve_activity": {
      "post": {
        "summary": "Approve Activity",
        "description": "Approve an Activity",
        "operationId": "ApproveActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveActivityRequest"
            }
          }
        ],
        "tags": ["Consensus"]
      }
    },
    "/public/v1/submit/create_api_keys": {
      "post": {
        "summary": "Create API Keys",
        "description": "Add api keys to an existing User",
        "operationId": "CreateApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/create_authenticators": {
      "post": {
        "summary": "Create Authenticators",
        "description": "Create Authenticators to authenticate requests to Turnkey",
        "operationId": "CreateAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/create_invitations": {
      "post": {
        "summary": "Create Invitations",
        "description": "Create Invitations to join an existing Organization",
        "operationId": "CreateInvitations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInvitationsRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/create_policy": {
      "post": {
        "summary": "Create Policy",
        "description": "Create a new Policy",
        "operationId": "CreatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/create_private_key_tag": {
      "post": {
        "summary": "Create Private Key Tag",
        "description": "Create a private key tag and add it to private keys.",
        "operationId": "CreatePrivateKeyTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePrivateKeyTagRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/create_private_keys": {
      "post": {
        "summary": "Create Private Keys",
        "description": "Create new Private Keys",
        "operationId": "CreatePrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/create_sub_organization": {
      "post": {
        "summary": "Create Sub-Organization",
        "description": "Create a new Sub-Organization",
        "operationId": "CreateSubOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSubOrganizationRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/create_user_tag": {
      "post": {
        "summary": "Create User Tag",
        "description": "Create a user tag and add it to users.",
        "operationId": "CreateUserTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUserTagRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/public/v1/submit/create_users": {
      "post": {
        "summary": "Create Users",
        "description": "Create Users in an existing Organization",
        "operationId": "CreateUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/create_wallet": {
      "post": {
        "summary": "Create Wallet",
        "description": "Create a Wallet and derive addresses",
        "operationId": "CreateWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/create_wallet_accounts": {
      "post": {
        "summary": "Create Wallet Accounts",
        "description": "Derive additional addresses using an existing wallet",
        "operationId": "CreateWalletAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWalletAccountsRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/delete_api_keys": {
      "post": {
        "summary": "Delete API Keys",
        "description": "Remove api keys from a User",
        "operationId": "DeleteApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/delete_authenticators": {
      "post": {
        "summary": "Delete Authenticators",
        "description": "Remove authenticators from a User",
        "operationId": "DeleteAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/delete_invitation": {
      "post": {
        "summary": "Delete Invitation",
        "description": "Delete an existing Invitation",
        "operationId": "DeleteInvitation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteInvitationRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/delete_policy": {
      "post": {
        "summary": "Delete Policy",
        "description": "Delete an existing Policy",
        "operationId": "DeletePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/export_private_key": {
      "post": {
        "summary": "Export Private Key",
        "description": "Exports a Private Key",
        "operationId": "ExportPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/export_wallet": {
      "post": {
        "summary": "Export Wallet",
        "description": "Exports a Wallet",
        "operationId": "ExportWallet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportWalletRequest"
            }
          }
        ],
        "tags": ["Wallets"]
      }
    },
    "/public/v1/submit/init_user_email_recovery": {
      "post": {
        "summary": "Init Email Recovery",
        "description": "Initializes a new email recovery",
        "operationId": "InitUserEmailRecovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitUserEmailRecoveryRequest"
            }
          }
        ],
        "tags": ["User Recovery"]
      }
    },
    "/public/v1/submit/recover_user": {
      "post": {
        "summary": "Recover a user",
        "description": "Completes the process of recovering a user by adding an authenticator",
        "operationId": "RecoverUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecoverUserRequest"
            }
          }
        ],
        "tags": ["User Recovery"]
      }
    },
    "/public/v1/submit/reject_activity": {
      "post": {
        "summary": "Reject Activity",
        "description": "Reject an Activity",
        "operationId": "RejectActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectActivityRequest"
            }
          }
        ],
        "tags": ["Consensus"]
      }
    },
    "/public/v1/submit/remove_organization_feature": {
      "post": {
        "summary": "Remove Organization Feature",
        "description": "Removes an organization feature",
        "operationId": "RemoveOrganizationFeature",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveOrganizationFeatureRequest"
            }
          }
        ],
        "tags": ["Features"]
      }
    },
    "/public/v1/submit/set_organization_feature": {
      "post": {
        "summary": "Set Organization Feature",
        "description": "Sets an organization feature",
        "operationId": "SetOrganizationFeature",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetOrganizationFeatureRequest"
            }
          }
        ],
        "tags": ["Features"]
      }
    },
    "/public/v1/submit/sign_raw_payload": {
      "post": {
        "summary": "Sign Raw Payload",
        "description": "Sign a raw payload",
        "operationId": "SignRawPayload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignRawPayloadRequest"
            }
          }
        ],
        "tags": ["Signers"]
      }
    },
    "/public/v1/submit/sign_transaction": {
      "post": {
        "summary": "Sign Transaction",
        "description": "Sign a transaction",
        "operationId": "SignTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignTransactionRequest"
            }
          }
        ],
        "tags": ["Signers"]
      }
    },
    "/public/v1/submit/update_allowed_origins": {
      "post": {
        "summary": "Update Allowed Origins",
        "description": "Update the origins WebAuthN credentials are allowed to sign requests from. Setting this on a Parent-Organization applies to all Sub-Organizations.",
        "operationId": "UpdateAllowedOrigins",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAllowedOriginsRequest"
            }
          }
        ],
        "tags": ["Features"]
      }
    },
    "/public/v1/submit/update_policy": {
      "post": {
        "summary": "Update Policy",
        "description": "Update an existing Policy",
        "operationId": "UpdatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/update_private_key_tag": {
      "post": {
        "summary": "Update Private Key Tag",
        "description": "Update human-readable name or associated private keys. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "UpdatePrivateKeyTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePrivateKeyTagRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/update_root_quorum": {
      "post": {
        "summary": "Update Root Quorum",
        "description": "Set the threshold and members of the root quorum. This must be approved by the current root quorum.",
        "operationId": "UpdateRootQuorum",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRootQuorumRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/update_user": {
      "post": {
        "summary": "Update User",
        "description": "Update a User in an existing Organization",
        "operationId": "UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/update_user_tag": {
      "post": {
        "summary": "Update User Tag",
        "description": "Update human-readable name or associated users. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "UpdateUserTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserTagRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    }
  },
  "definitions": {
    "AcceptInvitationIntent": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticator": {
          "$ref": "#/definitions/AuthenticatorParams",
          "description": "WebAuthN hardware devices that can be used to log in to the Turnkey web app."
        }
      },
      "required": ["invitationId", "userId", "authenticator"]
    },
    "AcceptInvitationIntentV2": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticator": {
          "$ref": "#/definitions/AuthenticatorParamsV2",
          "description": "WebAuthN hardware devices that can be used to log in to the Turnkey web app."
        }
      },
      "required": ["invitationId", "userId", "authenticator"]
    },
    "AcceptInvitationResult": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["invitationId", "userId"]
    },
    "AccessType": {
      "type": "string",
      "enum": ["ACCESS_TYPE_WEB", "ACCESS_TYPE_API", "ACCESS_TYPE_ALL"]
    },
    "ActivateBillingTierIntent": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product that the customer wants to subscribe to."
        }
      },
      "required": ["productId"]
    },
    "ActivateBillingTierResult": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product being subscribed to."
        }
      },
      "required": ["productId"]
    },
    "Activity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for a given Activity object."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "status": {
          "$ref": "#/definitions/ActivityStatus",
          "description": "The current processing status of a specified Activity."
        },
        "type": {
          "$ref": "#/definitions/ActivityType",
          "description": "Type of Activity, such as Add User, or Sign Transaction."
        },
        "intent": {
          "$ref": "#/definitions/Intent",
          "description": "Intent object crafted by Turnkey based on the user request, used to assess the permissibility of an action."
        },
        "result": {
          "$ref": "#/definitions/Result",
          "description": "Result of the intended action."
        },
        "votes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Vote"
          },
          "description": "A list of objects representing a particular User's approval or rejection of a Consensus request, including all relevant metadata."
        },
        "fingerprint": {
          "type": "string",
          "description": "An artifact verifying a User's action."
        },
        "canApprove": {
          "type": "boolean"
        },
        "canReject": {
          "type": "boolean"
        },
        "createdAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        }
      },
      "required": [
        "id",
        "organizationId",
        "status",
        "type",
        "intent",
        "result",
        "votes",
        "fingerprint",
        "canApprove",
        "canReject",
        "createdAt",
        "updatedAt"
      ]
    },
    "ActivityResponse": {
      "type": "object",
      "properties": {
        "activity": {
          "$ref": "#/definitions/Activity",
          "description": "An action that can that can be taken within the Turnkey infrastructure."
        }
      },
      "required": ["activity"]
    },
    "ActivityStatus": {
      "type": "string",
      "enum": [
        "ACTIVITY_STATUS_CREATED",
        "ACTIVITY_STATUS_PENDING",
        "ACTIVITY_STATUS_COMPLETED",
        "ACTIVITY_STATUS_FAILED",
        "ACTIVITY_STATUS_CONSENSUS_NEEDED",
        "ACTIVITY_STATUS_REJECTED"
      ]
    },
    "ActivityType": {
      "type": "string",
      "enum": [
        "ACTIVITY_TYPE_CREATE_API_KEYS",
        "ACTIVITY_TYPE_CREATE_USERS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEYS",
        "ACTIVITY_TYPE_SIGN_RAW_PAYLOAD",
        "ACTIVITY_TYPE_CREATE_INVITATIONS",
        "ACTIVITY_TYPE_ACCEPT_INVITATION",
        "ACTIVITY_TYPE_CREATE_POLICY",
        "ACTIVITY_TYPE_DISABLE_PRIVATE_KEY",
        "ACTIVITY_TYPE_DELETE_USERS",
        "ACTIVITY_TYPE_DELETE_API_KEYS",
        "ACTIVITY_TYPE_DELETE_INVITATION",
        "ACTIVITY_TYPE_DELETE_ORGANIZATION",
        "ACTIVITY_TYPE_DELETE_POLICY",
        "ACTIVITY_TYPE_CREATE_USER_TAG",
        "ACTIVITY_TYPE_DELETE_USER_TAGS",
        "ACTIVITY_TYPE_CREATE_ORGANIZATION",
        "ACTIVITY_TYPE_SIGN_TRANSACTION",
        "ACTIVITY_TYPE_APPROVE_ACTIVITY",
        "ACTIVITY_TYPE_REJECT_ACTIVITY",
        "ACTIVITY_TYPE_DELETE_AUTHENTICATORS",
        "ACTIVITY_TYPE_CREATE_AUTHENTICATORS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG",
        "ACTIVITY_TYPE_DELETE_PRIVATE_KEY_TAGS",
        "ACTIVITY_TYPE_SET_PAYMENT_METHOD",
        "ACTIVITY_TYPE_ACTIVATE_BILLING_TIER",
        "ACTIVITY_TYPE_DELETE_PAYMENT_METHOD",
        "ACTIVITY_TYPE_CREATE_POLICY_V2",
        "ACTIVITY_TYPE_CREATE_POLICY_V3",
        "ACTIVITY_TYPE_CREATE_API_ONLY_USERS",
        "ACTIVITY_TYPE_UPDATE_ROOT_QUORUM",
        "ACTIVITY_TYPE_UPDATE_USER_TAG",
        "ACTIVITY_TYPE_UPDATE_PRIVATE_KEY_TAG",
        "ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2",
        "ACTIVITY_TYPE_CREATE_ORGANIZATION_V2",
        "ACTIVITY_TYPE_CREATE_USERS_V2",
        "ACTIVITY_TYPE_ACCEPT_INVITATION_V2",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V2",
        "ACTIVITY_TYPE_UPDATE_ALLOWED_ORIGINS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2",
        "ACTIVITY_TYPE_UPDATE_USER",
        "ACTIVITY_TYPE_UPDATE_POLICY",
        "ACTIVITY_TYPE_SET_PAYMENT_METHOD_V2",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V3",
        "ACTIVITY_TYPE_CREATE_WALLET",
        "ACTIVITY_TYPE_CREATE_WALLET_ACCOUNTS",
        "ACTIVITY_TYPE_INIT_USER_EMAIL_RECOVERY",
        "ACTIVITY_TYPE_RECOVER_USER",
        "ACTIVITY_TYPE_SET_ORGANIZATION_FEATURE",
        "ACTIVITY_TYPE_REMOVE_ORGANIZATION_FEATURE",
        "ACTIVITY_TYPE_SIGN_RAW_PAYLOAD_V2",
        "ACTIVITY_TYPE_SIGN_TRANSACTION_V2",
        "ACTIVITY_TYPE_EXPORT_PRIVATE_KEY",
        "ACTIVITY_TYPE_EXPORT_WALLET",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V4"
      ]
    },
    "AddressFormat": {
      "type": "string",
      "enum": [
        "ADDRESS_FORMAT_UNCOMPRESSED",
        "ADDRESS_FORMAT_COMPRESSED",
        "ADDRESS_FORMAT_ETHEREUM",
        "ADDRESS_FORMAT_SOLANA",
        "ADDRESS_FORMAT_COSMOS"
      ]
    },
    "ApiKey": {
      "type": "object",
      "properties": {
        "credential": {
          "$ref": "#/definitions/external.data.v1.Credential",
          "description": "A User credential that can be used to authenticate to Turnkey."
        },
        "apiKeyId": {
          "type": "string",
          "description": "Unique identifier for a given API Key."
        },
        "apiKeyName": {
          "type": "string",
          "description": "Human-readable name for an API Key."
        },
        "createdAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        }
      },
      "required": [
        "credential",
        "apiKeyId",
        "apiKeyName",
        "createdAt",
        "updatedAt"
      ]
    },
    "ApiKeyParams": {
      "type": "object",
      "properties": {
        "apiKeyName": {
          "type": "string",
          "description": "Human-readable name for an API Key."
        },
        "publicKey": {
          "type": "string",
          "description": "The public component of a cryptographic key pair used to sign messages and transactions."
        }
      },
      "required": ["apiKeyName", "publicKey"]
    },
    "ApiOnlyUserParams": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "The name of the new API-only User."
        },
        "userEmail": {
          "type": "string",
          "description": "The email address for this API-only User (optional)."
        },
        "userTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of tags assigned to the new API-only User."
        },
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ApiKeyParams"
          },
          "description": "A list of API Key parameters."
        }
      },
      "required": ["userName", "userTags", "apiKeys"]
    },
    "ApproveActivityIntent": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "An artifact verifying a User's action."
        }
      },
      "required": ["fingerprint"]
    },
    "ApproveActivityRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_APPROVE_ACTIVITY"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/ApproveActivityIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "Attestation": {
      "type": "object",
      "properties": {
        "credentialId": {
          "type": "string",
          "description": "The cbor encoded then base64 url encoded id of the credential."
        },
        "clientDataJson": {
          "type": "string",
          "description": "A base64 url encoded payload containing metadata about the signing context and the challenge."
        },
        "attestationObject": {
          "type": "string",
          "description": "A base64 url encoded payload containing authenticator data and any attestation the webauthn provider chooses."
        },
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthenticatorTransport"
          },
          "description": "The type of authenticator transports."
        }
      },
      "required": [
        "credentialId",
        "clientDataJson",
        "attestationObject",
        "transports"
      ]
    },
    "Authenticator": {
      "type": "object",
      "properties": {
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthenticatorTransport"
          },
          "description": "Types of transports that may be used by an Authenticator (e.g., USB, NFC, BLE)."
        },
        "attestationType": {
          "type": "string"
        },
        "aaguid": {
          "type": "string",
          "description": "Identifier indicating the type of the Security Key."
        },
        "credentialId": {
          "type": "string",
          "description": "Unique identifier for a WebAuthn credential."
        },
        "model": {
          "type": "string",
          "description": "The type of Authenticator device."
        },
        "credential": {
          "$ref": "#/definitions/external.data.v1.Credential",
          "description": "A User credential that can be used to authenticate to Turnkey."
        },
        "authenticatorId": {
          "type": "string",
          "description": "Unique identifier for a given Authenticator."
        },
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "createdAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/external.data.v1.Timestamp"
        }
      },
      "required": [
        "transports",
        "attestationType",
        "aaguid",
        "credentialId",
        "model",
        "credential",
        "authenticatorId",
        "authenticatorName",
        "createdAt",
        "updatedAt"
      ]
    },
    "AuthenticatorAttestationResponse": {
      "type": "object",
      "properties": {
        "clientDataJson": {
          "type": "string"
        },
        "attestationObject": {
          "type": "string"
        },
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AuthenticatorTransport"
          }
        },
        "authenticatorAttachment": {
          "type": "string",
          "enum": ["cross-platform", "platform"],
          "x-nullable": true
        }
      },
      "required": ["clientDataJson", "attestationObject"]
    },
    "AuthenticatorParams": {
      "type": "object",
      "properties": {
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "attestation": {
          "$ref": "#/definitions/PublicKeyCredentialWithAttestation"
        },
        "challenge": {
          "type": "string",
          "description": "Challenge presented for authentication purposes."
        }
      },
      "required": ["authenticatorName", "userId", "attestation", "challenge"]
    },
    "AuthenticatorParamsV2": {
      "type": "object",
      "properties": {
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "challenge": {
          "type": "string",
          "description": "Challenge presented for authentication purposes."
        },
        "attestation": {
          "$ref": "#/definitions/Attestation",
          "description": "The attestation that proves custody of the authenticator and provides metadata about it."
        }
      },
      "required": ["authenticatorName", "challenge", "attestation"]
    },
    "AuthenticatorTransport": {
      "type": "string",
      "enum": [
        "AUTHENTICATOR_TRANSPORT_BLE",
        "AUTHENTICATOR_TRANSPORT_INTERNAL",
        "AUTHENTICATOR_TRANSPORT_NFC",
        "AUTHENTICATOR_TRANSPORT_USB",
        "AUTHENTICATOR_TRANSPORT_HYBRID"
      ]
    },
    "CreateApiKeysIntent": {
      "type": "object",
      "properties": {
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ApiKeyParams"
          },
          "description": "A list of API Keys."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["apiKeys", "userId"]
    },
    "CreateApiKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_API_KEYS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateApiKeysIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateApiKeysResult": {
      "type": "object",
      "properties": {
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["apiKeyIds"]
    },
    "CreateApiOnlyUsersIntent": {
      "type": "object",
      "properties": {
        "apiOnlyUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ApiOnlyUserParams"
          },
          "description": "A list of API-only Users to create."
        }
      },
      "required": ["apiOnlyUsers"]
    },
    "CreateApiOnlyUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API-only User IDs."
        }
      },
      "required": ["userIds"]
    },
    "CreateAuthenticatorsIntent": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/AuthenticatorParams"
          },
          "description": "A list of Authenticators."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["authenticators", "userId"]
    },
    "CreateAuthenticatorsIntentV2": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/AuthenticatorParamsV2"
          },
          "description": "A list of Authenticators."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["authenticators", "userId"]
    },
    "CreateAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateAuthenticatorsIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateAuthenticatorsResult": {
      "type": "object",
      "properties": {
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Authenticator IDs."
        }
      },
      "required": ["authenticatorIds"]
    },
    "CreateInvitationsIntent": {
      "type": "object",
      "properties": {
        "invitations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/InvitationParams"
          },
          "description": "A list of Invitations."
        }
      },
      "required": ["invitations"]
    },
    "CreateInvitationsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_INVITATIONS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateInvitationsIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateInvitationsResult": {
      "type": "object",
      "properties": {
        "invitationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Invitation IDs"
        }
      },
      "required": ["invitationIds"]
    },
    "CreateOrganizationIntent": {
      "type": "object",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Human-readable name for an Organization."
        },
        "rootEmail": {
          "type": "string",
          "description": "The root user's email address."
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/AuthenticatorParams",
          "description": "The root user's Authenticator."
        },
        "rootUserId": {
          "type": "string",
          "description": "Unique identifier for the root user object."
        }
      },
      "required": ["organizationName", "rootEmail", "rootAuthenticator"]
    },
    "CreateOrganizationIntentV2": {
      "type": "object",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Human-readable name for an Organization."
        },
        "rootEmail": {
          "type": "string",
          "description": "The root user's email address."
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/AuthenticatorParamsV2",
          "description": "The root user's Authenticator."
        },
        "rootUserId": {
          "type": "string",
          "description": "Unique identifier for the root user object."
        }
      },
      "required": ["organizationName", "rootEmail", "rootAuthenticator"]
    },
    "CreateOrganizationResult": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "CreatePolicyIntent": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "selectors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Selector"
          },
          "description": "A list of simple functions each including a subject, target and boolean. See Policy Engine Language section for additional details."
        },
        "effect": {
          "$ref": "#/definitions/Effect",
          "description": "The instruction to DENY or ALLOW a particular activity following policy selector(s)."
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "selectors", "effect"]
    },
    "CreatePolicyIntentV2": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "selectors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/SelectorV2"
          },
          "description": "A list of simple functions each including a subject, target and boolean. See Policy Engine Language section for additional details."
        },
        "effect": {
          "$ref": "#/definitions/Effect",
          "description": "Whether to ALLOW or DENY requests that match the condition and consensus requirements."
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "selectors", "effect"]
    },
    "CreatePolicyIntentV3": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "effect": {
          "$ref": "#/definitions/Effect",
          "description": "The instruction to DENY or ALLOW an activity."
        },
        "condition": {
          "type": "string",
          "description": "The condition expression that triggers the Effect"
        },
        "consensus": {
          "type": "string",
          "description": "The consensus expression that triggers the Effect"
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "effect"]
    },
    "CreatePolicyRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_POLICY_V3"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreatePolicyIntentV3"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreatePolicyResult": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "CreatePrivateKeyTagIntent": {
      "type": "object",
      "properties": {
        "privateKeyTagName": {
          "type": "string",
          "description": "Human-readable name for a Private Key Tag."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagName", "privateKeyIds"]
    },
    "CreatePrivateKeyTagRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreatePrivateKeyTagIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreatePrivateKeyTagResult": {
      "type": "object",
      "properties": {
        "privateKeyTagId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key Tag."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagId", "privateKeyIds"]
    },
    "CreatePrivateKeysIntent": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "CreatePrivateKeysIntentV2": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "CreatePrivateKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreatePrivateKeysIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreatePrivateKeysResult": {
      "type": "object",
      "properties": {
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyIds"]
    },
    "CreatePrivateKeysResultV2": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKeyResult"
          },
          "description": "A list of Private Key IDs and addresses."
        }
      },
      "required": ["privateKeys"]
    },
    "CreateSubOrganizationIntent": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/AuthenticatorParamsV2",
          "description": "Root User authenticator for this new sub-organization"
        }
      },
      "required": ["name", "rootAuthenticator"]
    },
    "CreateSubOrganizationIntentV2": {
      "type": "object",
      "properties": {
        "subOrganizationName": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/RootUserParams"
          },
          "description": "Root users to create within this sub-organization"
        },
        "rootQuorumThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of unique approvals to reach root quorum. This value must be less than or equal to the number of root users"
        }
      },
      "required": ["subOrganizationName", "rootUsers", "rootQuorumThreshold"]
    },
    "CreateSubOrganizationIntentV3": {
      "type": "object",
      "properties": {
        "subOrganizationName": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/RootUserParams"
          },
          "description": "Root users to create within this sub-organization"
        },
        "rootQuorumThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of unique approvals to reach root quorum. This value must be less than or equal to the number of root users"
        },
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": [
        "subOrganizationName",
        "rootUsers",
        "rootQuorumThreshold",
        "privateKeys"
      ]
    },
    "CreateSubOrganizationIntentV4": {
      "type": "object",
      "properties": {
        "subOrganizationName": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/RootUserParams"
          },
          "description": "Root users to create within this sub-organization"
        },
        "rootQuorumThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of unique approvals to reach root quorum. This value must be less than or equal to the number of root users"
        },
        "wallet": {
          "$ref": "#/definitions/WalletParams",
          "description": "The wallet to create for the sub-organization"
        },
        "disableEmailRecovery": {
          "type": "boolean",
          "description": "Disable email recovery for the sub-organization"
        }
      },
      "required": ["subOrganizationName", "rootUsers", "rootQuorumThreshold"]
    },
    "CreateSubOrganizationRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V4"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateSubOrganizationIntentV4"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateSubOrganizationResult": {
      "type": "object",
      "properties": {
        "subOrganizationId": {
          "type": "string"
        }
      },
      "required": ["subOrganizationId"]
    },
    "CreateSubOrganizationResultV3": {
      "type": "object",
      "properties": {
        "subOrganizationId": {
          "type": "string"
        },
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKeyResult"
          },
          "description": "A list of Private Key IDs and addresses."
        }
      },
      "required": ["subOrganizationId", "privateKeys"]
    },
    "CreateSubOrganizationResultV4": {
      "type": "object",
      "properties": {
        "subOrganizationId": {
          "type": "string"
        },
        "wallet": {
          "$ref": "#/definitions/WalletResult"
        }
      },
      "required": ["subOrganizationId"]
    },
    "CreateUserTagIntent": {
      "type": "object",
      "properties": {
        "userTagName": {
          "type": "string",
          "description": "Human-readable name for a User Tag."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagName", "userIds"]
    },
    "CreateUserTagRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_USER_TAG"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateUserTagIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateUserTagResult": {
      "type": "object",
      "properties": {
        "userTagId": {
          "type": "string",
          "description": "Unique identifier for a given User Tag."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagId", "userIds"]
    },
    "CreateUsersIntent": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/UserParams"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "CreateUsersIntentV2": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/UserParamsV2"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "CreateUsersRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_USERS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateUsersIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "CreateWalletAccountsIntent": {
      "type": "object",
      "properties": {
        "walletId": {
          "type": "string",
          "description": "Unique identifier for a given Wallet."
        },
        "accounts": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/WalletAccountParams"
          },
          "description": "A list of wallet Accounts."
        }
      },
      "required": ["walletId", "accounts"]
    },
    "CreateWalletAccountsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_WALLET_ACCOUNTS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateWalletAccountsIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateWalletAccountsResult": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of derived addresses."
        }
      },
      "required": ["addresses"]
    },
    "CreateWalletIntent": {
      "type": "object",
      "properties": {
        "walletName": {
          "type": "string",
          "description": "Human-readable name for a Wallet."
        },
        "accounts": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/WalletAccountParams"
          },
          "description": "A list of wallet Accounts."
        }
      },
      "required": ["walletName", "accounts"]
    },
    "CreateWalletRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_WALLET"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/CreateWalletIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "CreateWalletResult": {
      "type": "object",
      "properties": {
        "walletId": {
          "type": "string",
          "description": "A list of Wallet IDs."
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of account addresses."
        }
      },
      "required": ["walletId", "addresses"]
    },
    "CredPropsAuthenticationExtensionsClientOutputs": {
      "type": "object",
      "properties": {
        "rk": {
          "type": "boolean"
        }
      },
      "required": ["rk"]
    },
    "CredentialType": {
      "type": "string",
      "enum": [
        "CREDENTIAL_TYPE_WEBAUTHN_AUTHENTICATOR",
        "CREDENTIAL_TYPE_API_KEY_P256",
        "CREDENTIAL_TYPE_RECOVER_USER_KEY_P256"
      ]
    },
    "Curve": {
      "type": "string",
      "enum": ["CURVE_SECP256K1", "CURVE_ED25519"]
    },
    "DeleteApiKeysIntent": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["userId", "apiKeyIds"]
    },
    "DeleteApiKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_API_KEYS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/DeleteApiKeysIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "DeleteApiKeysResult": {
      "type": "object",
      "properties": {
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["apiKeyIds"]
    },
    "DeleteAuthenticatorsIntent": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Authenticator IDs."
        }
      },
      "required": ["userId", "authenticatorIds"]
    },
    "DeleteAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_AUTHENTICATORS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/DeleteAuthenticatorsIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "DeleteAuthenticatorsResult": {
      "type": "object",
      "properties": {
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unique identifier for a given Authenticator."
        }
      },
      "required": ["authenticatorIds"]
    },
    "DeleteInvitationIntent": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        }
      },
      "required": ["invitationId"]
    },
    "DeleteInvitationRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_INVITATION"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/DeleteInvitationIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "DeleteInvitationResult": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation."
        }
      },
      "required": ["invitationId"]
    },
    "DeleteOrganizationIntent": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "DeleteOrganizationResult": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "DeletePaymentMethodIntent": {
      "type": "object",
      "properties": {
        "paymentMethodId": {
          "type": "string",
          "description": "The payment method that the customer wants to remove."
        }
      },
      "required": ["paymentMethodId"]
    },
    "DeletePaymentMethodResult": {
      "type": "object",
      "properties": {
        "paymentMethodId": {
          "type": "string",
          "description": "The payment method that was removed."
        }
      },
      "required": ["paymentMethodId"]
    },
    "DeletePolicyIntent": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "DeletePolicyRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_POLICY"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/DeletePolicyIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "DeletePolicyResult": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "DeletePrivateKeyTagsIntent": {
      "type": "object",
      "properties": {
        "privateKeyTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key Tag IDs."
        }
      },
      "required": ["privateKeyTagIds"]
    },
    "DeletePrivateKeyTagsResult": {
      "type": "object",
      "properties": {
        "privateKeyTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key Tag IDs."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagIds", "privateKeyIds"]
    },
    "DeleteUserTagsIntent": {
      "type": "object",
      "properties": {
        "userTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User Tag IDs."
        }
      },
      "required": ["userTagIds"]
    },
    "DeleteUserTagsResult": {
      "type": "object",
      "properties": {
        "userTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User Tag IDs."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagIds", "userIds"]
    },
    "DeleteUsersIntent": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "DeleteUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "DisablePrivateKeyIntent": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["privateKeyId"]
    },
    "DisablePrivateKeyResult": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["privateKeyId"]
    },
    "Effect": {
      "type": "string",
      "enum": ["EFFECT_ALLOW", "EFFECT_DENY"]
    },
    "ExportPrivateKeyIntent": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        },
        "targetPublicKey": {
          "type": "string",
          "description": "Client-side public key generated by the user, to which the export bundle will be encrypted."
        }
      },
      "required": ["privateKeyId", "targetPublicKey"]
    },
    "ExportPrivateKeyRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_EXPORT_PRIVATE_KEY"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/ExportPrivateKeyIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "ExportPrivateKeyResult": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        },
        "exportBundle": {
          "type": "string",
          "description": "Export bundle containing a private key encrypted to the client's target public key."
        }
      },
      "required": ["privateKeyId", "exportBundle"]
    },
    "ExportWalletIntent": {
      "type": "object",
      "properties": {
        "walletId": {
          "type": "string",
          "description": "Unique identifier for a given Wallet."
        },
        "targetPublicKey": {
          "type": "string",
          "description": "Client-side public key generated by the user, to which the export bundle will be encrypted."
        },
        "language": {
          "$ref": "#/definitions/MnemonicLanguage",
          "description": "The language of the mnemonic to export. Defaults to English."
        }
      },
      "required": ["walletId", "targetPublicKey"]
    },
    "ExportWalletRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_EXPORT_WALLET"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/ExportWalletIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "ExportWalletResult": {
      "type": "object",
      "properties": {
        "walletId": {
          "type": "string",
          "description": "Unique identifier for a given Wallet."
        },
        "exportBundle": {
          "type": "string",
          "description": "Export bundle containing a wallet mnemonic + optional newline passphrase encrypted by the client's target public key."
        }
      },
      "required": ["walletId", "exportBundle"]
    },
    "Feature": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/FeatureName"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "FeatureName": {
      "type": "string",
      "enum": ["FEATURE_NAME_ROOT_USER_EMAIL_RECOVERY"]
    },
    "GetActivitiesRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "filterByStatus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityStatus"
          },
          "description": "Array of Activity Statuses filtering which Activities will be listed in the response."
        },
        "paginationOptions": {
          "$ref": "#/definitions/Pagination",
          "description": "Parameters used for cursor-based pagination."
        },
        "filterByType": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityType"
          },
          "description": "Array of Activity Types filtering which Activities will be listed in the response."
        }
      },
      "required": ["organizationId"]
    },
    "GetActivitiesResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Activity"
          },
          "description": "A list of Activities."
        }
      },
      "required": ["activities"]
    },
    "GetActivityRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "activityId": {
          "type": "string",
          "description": "Unique identifier for a given Activity object."
        }
      },
      "required": ["organizationId", "activityId"]
    },
    "GetAuthenticatorRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "authenticatorId": {
          "type": "string",
          "description": "Unique identifier for a given Authenticator."
        }
      },
      "required": ["organizationId", "authenticatorId"]
    },
    "GetAuthenticatorResponse": {
      "type": "object",
      "properties": {
        "authenticator": {
          "$ref": "#/definitions/Authenticator",
          "description": "An authenticator."
        }
      },
      "required": ["authenticator"]
    },
    "GetAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["organizationId", "userId"]
    },
    "GetAuthenticatorsResponse": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Authenticator"
          },
          "description": "A list of authenticators."
        }
      },
      "required": ["authenticators"]
    },
    "GetPoliciesRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "GetPoliciesResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Policy"
          },
          "description": "A list of Policies."
        }
      },
      "required": ["policies"]
    },
    "GetPolicyRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["organizationId", "policyId"]
    },
    "GetPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/Policy",
          "description": "Object that codifies rules defining the actions that are permissible within an Organization."
        }
      },
      "required": ["policy"]
    },
    "GetPrivateKeyRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["organizationId", "privateKeyId"]
    },
    "GetPrivateKeyResponse": {
      "type": "object",
      "properties": {
        "privateKey": {
          "$ref": "#/definitions/PrivateKey",
          "description": "Cryptographic public/private key pair that can be used for cryptocurrency needs or more generalized encryption."
        }
      },
      "required": ["privateKey"]
    },
    "GetPrivateKeysRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "GetPrivateKeysResponse": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrivateKey"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "GetUserRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["organizationId", "userId"]
    },
    "GetUserResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/User",
          "description": "Web and/or API user within your Organization."
        }
      },
      "required": ["user"]
    },
    "GetUsersRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "GetUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/User"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "GetWalletAccountsRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "walletId": {
          "type": "string",
          "description": "Unique identifier for a given Wallet."
        }
      },
      "required": ["organizationId", "walletId"]
    },
    "GetWalletAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/WalletAccount"
          },
          "description": "A list of Accounts generated from a Wallet that share a common seed"
        }
      },
      "required": ["accounts"]
    },
    "GetWalletRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "walletId": {
          "type": "string",
[...]
