name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.19'

    - name: Get
      run: go get -v

    - name: lint
      uses: golangci/golangci-lint-action@v3.4.0
      with:
        args: ./...
        version: v1.53.2

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
